*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
    body{
         font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        background-color: #37353b;
    }
 .header{
     background-color: rgb(100, 100, 101);
     height: 450px;
     width: 100%;
     animation: backgroundanimation 10.5s linear infinite;
 }
    .logo img{
     cursor: pointer;   
     position: relative;
     top: 5px;
  }
   @keyframes  backgroundanimation{
     0%{
         background-image:url(istockphoto-1041069396-612x612.webp) ;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
     }

     50%{
        background-image:url(premium_photo-1661853413809-6be6bed796d9.avif) ;
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
    }

    70%{
        background-image:url(photo-1483000805330-4eaf0a0d82da.avif) ;
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
    }

    100%{
        background-image: url(premium_photo-1661679584923-e6f62b0a9834.avif);
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
    }
   }
  .menu{
     position: fixed;
     width: 100%;
    background-color: #ff0606;
    height: 100px;
  }
  .menu ul{ 
     margin: 20px;
      display: flex;
      gap: 20px;
      list-style: none;
     float: right;
   
  }

   .menu a{
     color: #fff;
     text-decoration: none;
     position: relative;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 16px;
   } 
  

   .menu a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 0%;
    background-color: #d5d5d5; 

    transition: 0.9s;
   }
    
    .menu a:hover::after{
         width: 100%;

    }
     .main{
           margin: 30px;
         
     }
      .clients{
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
           align-items: center;
           gap: 30px;
           cursor: pointer;
           background-color: #d5d5d5;
      }
      .clients img{
           width: 300px;
           mix-blend-mode: multiply;
      }
       .title1{
           font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           font-size: 50px;
           text-align: center;
           background-color: #d5d5d5;
       }
      .title2{
          margin: 20px 10px 0px;
           background-color: #e5ff00;
           height: 150px;
          width: 100%; 
          text-align: center;
           font-size:50px ;
           border: 1px solid rgb(0, 0, 0);
           border-radius: 5px;
           font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
       .title2 button{
         background-color: #149e2b;
         float: right;
         position: relative;
         bottom: 100px;
         left: 30px;
         border:none;
         font-size: 20px;
         color: #ffffff;
         cursor: pointer;
         padding: 10px;
         border-radius: 10px;
       }
       .title2 h2{
         margin-top: 30px;
         margin-right: 40px;
       }
        .title2 button:hover{
             transform: scale(1.1);
             transition: 0.9s;
        }
      .lessons{
          margin: 20px 0px 0px;
           display: flex;
           flex-wrap: wrap;
           background-color: #149e2b;
           gap: 5px;
           width: 100%;
           border-radius: 10px;
           justify-content: center;
           align-items: center; 
      }

      .lessons:hover{
      transition: 0.9s;
    }
    .lessons img{
        border-radius: 5px;
        margin: 10px;
       width: 500px;
      height: 450px;
      cursor: pointer;
    }
    
   .footer{
     background-color: #8a8787;
     height: 270px;
  
   }
   .footer img{
     cursor: pointer;
   }
   .footer h2{
     margin-top: 20px;
     margin-left: 20px;
   }
   .footer ul{
     display: flex;
     gap: 30px;
     position: relative;
     top: 30px;
     padding: 0px;
     list-style: none;
     margin-left:20px ;
   }
   .footer a{
     color: #fff;
     text-decoration: none;
     font-size: 20px;
   }
    .footer a:hover{
        transition: 0.9s;
         color: #ff0606;
    }
    .follow{
        background-color: #8a8787;
        position: relative;
        bottom: 155px;
        width: 0;
        height: 0;
        left: 300px;
    }
  .follow ul{
      list-style: none;
  }
   .follow a{
     color: #fff;
     text-decoration: none;
     font-size: 20px;
   }
   .follow a:hover{
     color: #ff0606;
     transition: 0.9s;
   }
   @media (max-width:1200px){
    .header{
        width:100%;
        margin: 150px 0px 0px;
    }
    .menu{
        height: 200px;
        margin: -150px 0px 0px;
    }
    .logo{
        margin: 30px;
    }
    .menu ul{
        margin: 0px 30px 0px;
    }
    .title2{
        width: 1005;
        font-size: 20px;
        align-items: center;
    }
    .title2 button{
         margin: 40px 20px;
    }
   }
   @media (max-width:768px){
       .header{
           width:100%;
           margin: 150px 0px 0px;
       }
       .menu{
           height: 200px;
           margin: -150px 0px 0px;
       }
       .logo{
           margin: 0px -30px 0px;
       }
       .menu ul{
           margin: 0px 30px 0px;
       }
       .title2{
           width: 680px;
           font-size: 20px;
       }
     .title2 button{
         margin: 100px 200px 100px;
         
     }
    
   }
   @media  (max-width:662px){
    .header{
        width:480px;
        margin: 150px 0px 0px;
    }
    .menu{
        height: 200px;
        margin: -150px 0px 0px;
    }
    .clients{
        width: 487px;
        margin: 11px -27px 0px;
    }
    .logo img{
        margin: 30px 100px 0px;
    }
      
    .menu ul{
        margin: 0px 100px 0px;
        font-size: 20px;
    }
    .title2{
        width: 487px;
        height: 200px;
        margin: 10px -27px 0px;
    }
     .title1{ 
        width: 487px;
        margin: 0px -27px 0px;
     }
    .title1 h2{
         margin: 0px 50px 0px;
        
    }
    .lessons{
      margin: 0px -31px 0px;
      width: 500px;
    }
    .lessons img{
      width: 300px;
      height: 300px;
    } 
       
   }
   @media (max-width:480px){
     .header{
          width:480px;
          margin: 150px 0px 0px;
      }
      .menu{
          height: 200px;
          margin: -150px 0px 0px;
      }
      .clients{
          width: 487px;
          margin: 11px -27px 0px;
      }
      .logo img{
          margin: 30px 100px 0px;
      }
        
      .menu ul{
          margin: 0px 100px 0px;
          font-size: 20px;
      }
      .title2{
          width: 487px;
          height: 200px;
          margin: 10px -27px 0px;
      }
       .title1{ 
          width: 487px;
          margin: 0px -27px 0px;
       }
      .title1 h2{
           margin: 0px 50px 0px;
          
      }
      .lessons{
        margin: 0px -31px 0px;
        width: 500px;
      }
      .lessons img{
        width: 300px;
        height: 300px;
      } 
        .footer{
         width:500px ;
      }    
 }

 